<a href="https://colab.research.google.com/github/syh0397/Statistic_python/blob/main/2_Statistic_python_T_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMPORT

In [40]:
import pandas as pd 
import numpy as np 

import os
import sys
import warnings
warnings.filterwarnings('ignore')

import sklearn 
import seaborn as sns
import matplotlib.pyplot as plt

In [41]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [42]:
df = pd.read_csv('/content/drive/MyDrive/data/Breast Cancer Wisconsin.csv')

In [43]:
df

           id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0      842302         M  ...                  0.11890          NaN
1      842517         M  ...                  0.08902          NaN
2    84300903         M  ...                  0.08758          NaN
3    84348301         M  ...                  0.17300          NaN
4    84358402         M  ...                  0.07678          NaN
..        ...       ...  ...                      ...          ...
564    926424         M  ...                  0.07115          NaN
565    926682         M  ...                  0.06637          NaN
566    926954         M  ...                  0.07820          NaN
567    927241         M  ...                  0.12400          NaN
568     92751         B  ...                  0.07039          NaN

[569 rows x 33 columns]

In [44]:
df.describe()

                 id  radius_mean  ...  fractal_dimension_worst  Unnamed: 32
count  5.690000e+02   569.000000  ...               569.000000          0.0
mean   3.037183e+07    14.127292  ...                 0.083946          NaN
std    1.250206e+08     3.524049  ...                 0.018061          NaN
min    8.670000e+03     6.981000  ...                 0.055040          NaN
25%    8.692180e+05    11.700000  ...                 0.071460          NaN
50%    9.060240e+05    13.370000  ...                 0.080040          NaN
75%    8.813129e+06    15.780000  ...                 0.092080          NaN
max    9.113205e+08    28.110000  ...                 0.207500          NaN

[8 rows x 32 columns]

### **단일 표본 T-TEST**

특정 값이  모집단의 평균과 같다고 말할 수 있는가 ? 를 의미한다.

In [45]:
from scipy  import stats

from scipy  import stats 라는 라이브러리를 슥 불러온다~

In [46]:
print( stats.ttest_1samp(df['texture_mean'],2000))

Ttest_1sampResult(statistic=-10985.100897273185, pvalue=0.0)

texture_mean 라는 컬럼에서  2000이라는 수치가 모집단의 평균과  같다고 말을 할 수 있는가 ?  라는 부분을 검정하는 것이다. 

t검정 통계량과 P 밸류를 리턴한다.

- P value = 유의확률 , 주로 0.05 이하이면 귀무가설(원래 있는 가설)을 기각한다. 
- 즉 2000이라는 숫자는 모집단의 평균과 다르다 = 같지 않다. 는 것을 의미한다.
- 딱봐도 2000은 평균이랑 다르니까 ,,,,



---

좀 더 설명하자면 '그는 잘생겼다 아만다 3.0 이상이니까' 라는 가설이 원래 통념이고 
아니다 '그는 안 잘생겼다' 라는 가설을 증명하려고 한다면 

- 안잘생겼다 : 라는 가설이 = 대립가설
- 잘생겼다 : 라는 가설이 (즉, 차이가 없다 = 잘생겼다) 귀무 가설이다. 

그래서 증명하고자 하는 가설이 대립가설(H1) 그 반대가 귀무가설(H0)이라고 부른다.



---
p-value가 말하고자 하는 것을 대략적으로나마 가벼운 말로 풀어쓰자면 다음과 같다고 할 수 있다.

"우리가 얻은 데이터에 있는 두 표본 집단이 같은 모집단에서부터 나온거라고 치자.
그랬을 때, 우리가 이런 검정 통계량(가령, t-value)을 얻었는데 이게 얼마나 말이되는거냐?"

In [47]:
print( stats.ttest_1samp(df['texture_mean'],18.840000))

Ttest_1sampResult(statistic=2.493769068583473, pvalue=0.012922791777689178)

중위값인 18.84를 기준으로 판단해보면 유의수준 0.05를 넘어가지 않으므로(0.01이니까) 샘플데이터의 평균과 전체 데이터의 평균은 차이가 있다고 볼 수 있습니다.

In [48]:
print( stats.ttest_1samp(df['texture_mean'],19.289649))

Ttest_1sampResult(statistic=-2.738906037768556e-06, pvalue=0.9999978156308003)

p-value가 0.05이상으로, 조사한 샘플데이터의 평균이 모집단 데이터 평균과 유사할 것이라고 판단할 수 있습니다.

In [49]:
print( stats.ttest_1samp(df['texture_mean'],22.289649))

Ttest_1sampResult(statistic=-16.638125858202464, pvalue=6.282713011236498e-51)

Pvalue가 확률변수인데 1이 넘어가는건 잘못나온 결과! 0~1 사이의 값을 가진다.

In [50]:
print( stats.ttest_1samp(df['texture_mean'],22000.289649))

Ttest_1sampResult(statistic=-121907.52809782382, pvalue=0.0)

이것도 마찬가지로 잘못나온 결과!

### **독립표본 t검정(Independent Sample t-Test)**

- 독립표본 = 두 집단이 독립적이라는 것 (대립과 비슷한 느낌) 남자/여자 - 흑/백 같은
- 두 집단이 차이가 있는가 ? 살펴본다. (평균차이가 있는가?)



---
'
범주형 변수인 diagnosis 를 독립 표본으로 삼고 이것에 따라서  
texture_mean 이라는 연속형 변수의 평균차이가 있다 말할 수 있는가'를 생각해본다.

In [51]:
# 범주형 변수 진단을 불러옵니다.
close = df[df.diagnosis=='M']
diagnosis1 = np.array(close.texture_mean) 

far = df[df.diagnosis=='B']
diagnosis2 = np.array(far.texture_mean)

# 바틀렛! => 아래 설명  
stats.bartlett(diagnosis1,diagnosis2)

BartlettResult(statistic=0.8062754699948381, pvalue=0.36922370531266036)

bartlett = 두 집단의 모집단 분석이 과연 동일한가 ? (등분산 검정 = 분산이 같은가 or 
다른가?)

해석 => 0.3 이니까 0.05를 넘고 귀무가설을 기각하지 못한다. 따라서 등분산이다. 두 집단의 분산은 같다라고 봐도 좋다

- 그래서 밑에 equal_var = True로 설정한다.

In [52]:
print(stats.ttest_ind(diagnosis1, diagnosis2, equal_var = True))

Ttest_indResult(statistic=10.86720108146434, pvalue=4.0586360478980736e-25)



```
equal_var = 등분산 여부 
```



- 두집단의 분산이 같기 때문에 True 로 설정을 했다.
- 검정 통계량 , 유의확률 순서로 나오게 되며 - 25라는 말은 10의 25승으로 나누었다는 말이 된다.


따라서 엄청나게 유의하다 , 통계차이가 있다고 말할 수 있다.



---
아니 그러면 분산은 왜 중요한데?? 



```
1111111000000 이렇게 되어있는 열을 가지고 
1111111111110 이렇게 작성된 타겟값을 예측한다고 치자.

그러면 저 열은 별로 중요한게 아니라고 판단할 수 있다. - 상식적으로 !?
분산(var; variance)의 국립국어원 표준국어대사전의 정의는 
'갈라져 흩어짐, 또는 그렇게 되게 함.'으로, 어떤 대상의 흩어진 정도나 상태를 의미하는데

원래 예측모형에서 중요한 특징데이터란 종속데이터와의 상관관계가 크고 예측에 도움이 되는 데이터를 말한다. 
하지만 상관관계 계산에 앞서 특징데이터의 값 자체가 표본에 따라 그다지 변하지 않는다면 종속데이터 예측에도 도움이 되지 않을 가능성이 높다. 
따라서 표본 변화에 따른 데이터 값의 변화 
즉, 분산이 기준치보다 낮은 특징 데이터는 사용하지 않는 방법이 분산에 의한 선택 방법이다. 
예를 들어 종속데이터와 특징데이터가 모두 0 또는 1 두가지 값만 가지는데 
종속데이터는 0과 1이 균형을 이루는데 반해 
특징데이터가 대부분(예를 들어 90%)의 값이 0이라면 이 특징데이터는 분류에 도움이 되지 않을 가능성이 높다.

하지만 분산에 의한 선택은 반드시 상관관계와 일치한다는 보장이 없기 때문에 신중하게 사용해야 한다.
```

### **대응표본 t검정(Paired Sample t-Test)**



*   독립표본과 반대의 느낌
*   짝 지어진다. 뭔가 연결된다는 느낌 ! 
*   따라서 사전, 사후 분석시에도 자주 쓰이고 프로그램 효과성을 볼때도 많이 쓰인다.



---
자, 이번에는 연속형 변수 두개의 평균차이가 있는지 확인해보자

In [54]:
df

           id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0      842302         M  ...                  0.11890          NaN
1      842517         M  ...                  0.08902          NaN
2    84300903         M  ...                  0.08758          NaN
3    84348301         M  ...                  0.17300          NaN
4    84358402         M  ...                  0.07678          NaN
..        ...       ...  ...                      ...          ...
564    926424         M  ...                  0.07115          NaN
565    926682         M  ...                  0.06637          NaN
566    926954         M  ...                  0.07820          NaN
567    927241         M  ...                  0.12400          NaN
568     92751         B  ...                  0.07039          NaN

[569 rows x 33 columns]

In [55]:
stats.ttest_rel(df['radius_mean'],df['texture_mean'])

Ttest_relResult(statistic=-26.806214524889405, pvalue=6.397223127785219e-103)

- 10의 -193승이니까 엄청~~~나게 통계적으로 유의미하다고 볼 수 있다.
- 표본의 관찰된 특성이 우연에 의해 발생한 것이 아니라 전체집단의 실재 특성이라고 과학자들이 말할 수 있는 통계적 확률에 도달했을 때, 통계적으로 유의하다라고 말한다.
-즉 , "**통계적으로 유의하다**."라고 하는 것은 확률적으로 봐서 단순한 우연이라고 생각되지 않을 정도로 의미가 있다는 뜻

In [61]:
print(round(df['radius_mean'].mean(),2))
print(round(df['texture_mean'].mean(),2))

14.13
19.29

실제로 비교해보자
-

---

**그럼 다른건?**

In [71]:
print(stats.ttest_rel(df['radius_mean'],df['texture_worst']))
print('-------------------------------------------------------------------------')
print(round(df['radius_mean'].mean(),2))
print(round(df['texture_worst'].mean(),2))

Ttest_relResult(statistic=-45.09321313131598, pvalue=7.835308271447979e-190)
-------------------------------------------------------------------------
14.13
25.68

Ttest_relResult(statistic=-45.09321313131598, pvalue=7.835308271447979e-190)