<a href="https://colab.research.google.com/github/syh0397/Statistic_python/blob/main/3_Statistic_python_Correlation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **IMPORT**

In [1]:
import pandas as pd 
import numpy as np 

import os
import sys
import warnings
warnings.filterwarnings('ignore')

import sklearn 
import seaborn as sns
import matplotlib.pyplot as plt

import scipy 
from scipy import  stats

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/data/Breast Cancer Wisconsin.csv')

In [4]:
df

           id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0      842302         M  ...                  0.11890          NaN
1      842517         M  ...                  0.08902          NaN
2    84300903         M  ...                  0.08758          NaN
3    84348301         M  ...                  0.17300          NaN
4    84358402         M  ...                  0.07678          NaN
..        ...       ...  ...                      ...          ...
564    926424         M  ...                  0.07115          NaN
565    926682         M  ...                  0.06637          NaN
566    926954         M  ...                  0.07820          NaN
567    927241         M  ...                  0.12400          NaN
568     92751         B  ...                  0.07039          NaN

[569 rows x 33 columns]

In [5]:
df.describe()

                 id  radius_mean  ...  fractal_dimension_worst  Unnamed: 32
count  5.690000e+02   569.000000  ...               569.000000          0.0
mean   3.037183e+07    14.127292  ...                 0.083946          NaN
std    1.250206e+08     3.524049  ...                 0.018061          NaN
min    8.670000e+03     6.981000  ...                 0.055040          NaN
25%    8.692180e+05    11.700000  ...                 0.071460          NaN
50%    9.060240e+05    13.370000  ...                 0.080040          NaN
75%    8.813129e+06    15.780000  ...                 0.092080          NaN
max    9.113205e+08    28.110000  ...                 0.207500          NaN

[8 rows x 32 columns]

### **상관계수(Correlation Coefficient)**

상관분석

- 두변수의 선형적 관계 or 연관성 분석
- 두 연속형 변수( = 수치형) 의 관계를 살펴본다.
- 중요한 것은 연속형 변수.
- 피어슨 상관분석이 일반적으로 알려진 것.

In [6]:
df.corr()

                               id  ...  Unnamed: 32
id                       1.000000  ...          NaN
radius_mean              0.074626  ...          NaN
texture_mean             0.099770  ...          NaN
perimeter_mean           0.073159  ...          NaN
area_mean                0.096893  ...          NaN
smoothness_mean         -0.012968  ...          NaN
compactness_mean         0.000096  ...          NaN
concavity_mean           0.050080  ...          NaN
concave points_mean      0.044158  ...          NaN
symmetry_mean           -0.022114  ...          NaN
fractal_dimension_mean  -0.052511  ...          NaN
radius_se                0.143048  ...          NaN
texture_se              -0.007526  ...          NaN
perimeter_se             0.137331  ...          NaN
area_se                  0.177742  ...          NaN
smoothness_se            0.096781  ...          NaN
compactness_se           0.033961  ...          NaN
concavity_se             0.055239  ...          NaN
concave points_se        0.078768  ...          NaN
symmetry_se             -0.017306  ...          NaN
fractal_dimension_se     0.025725  ...          NaN
radius_worst             0.082405  ...          NaN
texture_worst            0.064720  ...          NaN
perimeter_worst          0.079986  ...          NaN
area_worst               0.107187  ...          NaN
smoothness_worst         0.010338  ...          NaN
compactness_worst       -0.002968  ...          NaN
concavity_worst          0.023203  ...          NaN
concave points_worst     0.035174  ...          NaN
symmetry_worst          -0.044224  ...          NaN
fractal_dimension_worst -0.029866  ...          NaN
Unnamed: 32                   NaN  ...          NaN

[32 rows x 32 columns]

너무 많다.

In [7]:
df2 = df[['radius_mean','area_mean','compactness_mean' ]]
df2.corr(method= 'pearson')

                  radius_mean  area_mean  compactness_mean
radius_mean          1.000000   0.987357          0.506124
area_mean            0.987357   1.000000          0.498502
compactness_mean     0.506124   0.498502          1.000000

- -가 나오면 음의 상관관계
- (+) 는 양의 상관관계
- 선형적 연관성
- 0.7 이상이면 통상적으로 강력크한 양의 상관관계가 있다고 볼 수 있다.

### **편상관계수**

- 제 3의 변수를 고려해야 할 경우가 있음
- 그런 것을 통제하기 위해서 
- 통제 변수를 넣어서 순수한 영향력을 알게된다. 
- 이럴때 편상관계수를 얻게 된다.

![image.png]()

핑귄이라는 페키지를 설치한다.

-https://pingouin-stats.org/ 설명은 여기에

In [8]:
# To install the latest version (with pip):

!pip install pingouin
# pip install --upgrade pingouin

Collecting pingouin
  Downloading pingouin-0.4.0.tar.gz (206 kB)
     |████████████████████████████████| 206 kB 13.8 MB/s
Requirement already satisfied: numpy>=1.19 in /usr/local/lib/python3.7/dist-packages (from pingouin) (1.19.5)
Collecting scipy>=1.7
  Downloading scipy-1.7.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (28.5 MB)
     |████████████████████████████████| 28.5 MB 47 kB/s
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pingouin) (1.1.5)
Requirement already satisfied: matplotlib>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from pingouin) (3.2.2)
Requirement already satisfied: seaborn>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from pingouin) (0.11.1)
Collecting statsmodels>=0.12.0
  Downloading statsmodels-0.12.2-cp37-cp37m-manylinux1_x86_64.whl (9.5 MB)
     |████████████████████████████████| 9.5 MB 60.8 MB/s
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from pingouin) (0.22.2.post1)
Collecting pandas_flavor>=0.2.0
  Downloading pandas_flavor-0.2.0-py2.py3-none-any.whl (6.6 kB)
Collecting outdated
  Downloading outdated-0.2.1-py3-none-any.whl (7.5 kB)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from pingouin) (0.8.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=3.0.2->pingouin) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pingouin) (2018.9)
Requirement already satisfied: xarray in /usr/local/lib/python3.7/dist-packages (from pandas_flavor>=0.2.0->pingouin) (0.18.2)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.12.0->pingouin) (0.5.1)
Collecting littleutils
  Downloading littleutils-0.2.2.tar.gz (6.6 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from outdated->pingouin) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (3.0.4)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->pingouin) (1.0.1)
Requirement already satisfied: setuptools>=40.4 in /usr/local/lib/python3.7/dist-packages (from xarray->pandas_flavor>=0.2.0->pingouin) (57.2.0)
Building wheels for collected packages: pingouin, littleutils
  Building wheel for pingouin (setup.py) ... done
  Created wheel for pingouin: filename=pingouin-0.4.0-py3-none-any.whl size=206904 sha256=2cbf537c66600aacc95a5b54cdf9419273266b9df5df32d8f5537e00a97e3fbe
  Stored in directory: /root/.cache/pip/wheels/8a/9d/c4/11677c2c4d5c0df9d1d4aa61528d868bb96e13b898e3f51c95
  Building wheel for littleutils (setup.py) ... done
  Created wheel for littleutils: filename=littleutils-0.2.2-py3-none-any.whl size=7048 sha256=c221a7ef1b9402a901f988ac132bf61f0754313bcd64497b50633abcc061a29b
  Stored in directory: /root/.cache/pip/wheels/d6/64/cd/32819b511a488e4993f2fab909a95330289c3f4e0f6ef4676d
Successfully built pingouin littleutils
Installing collected packages: scipy, littleutils, statsmodels, pandas-flavor, outdated, pingouin
  Attempting uninstall: scipy
    Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.10.2
    Uninstalling statsmodels-0.10.2:
      Successfully uninstalled statsmodels-0.10.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed littleutils-0.2.2 outdated-0.2.1 pandas-flavor-0.2.0 pingouin-0.4.0 scipy-1.7.1 statsmodels-0.12.2

In [9]:
# -  with conda:
# conda install -c conda-forge pingouin

PG로 불러와서

pg.ttest(x, y)

이런식으로 사용 가능하다. (참고)

In [10]:
import pingouin 
from pingouin import partial_corr

- 두변수의 순수한 영역을 살펴보기 위해서 편 상관계수를 살펴본다. 
- 연속형 변수의 독립, 종속 변수를 설정하고 
- compactness_mean 이라는 통제변수 설정

In [11]:
partial_corr(data = df, x = 'texture_mean', y='perimeter_mean' , covar ='compactness_mean')

           n         r         CI95%         p-val
pearson  569  0.245002  [0.17, 0.32]  3.286341e-09

 covar = 통제변수 설정

- 회귀 분석의 결과가 나온다.
- 10의 -9승으로 나눈것이므로 엄청나게 유의미한 p밸류를 가진다. 
- 두 변수는 굉장히 강한 연관성을 가진다.

### **등위상관계수 Rank Corr**

- 상관계수 분석시에 범주형 변수에는 분석이 불가능한가?? 
- 범주형 변수에서 순위척도에 의해서 구성된 그런 변수에 대해서 순위상관분석을 수행할 수 있다.
- 순위척도 = 서열척도  = - 1위, 2위 , 3위 같은 부분

In [12]:
stats.spearmanr(df['symmetry_worst'],df['perimeter_mean'])

SpearmanrResult(correlation=0.1990068257766269, pvalue=1.7136923257714789e-06)

상관관계 0.19정도

pvalue = 통계적으로 유의함

In [13]:
from scipy.stats import kendalltau

kendalltau(df['perimeter_mean'],df['texture_mean'])

KendalltauResult(correlation=0.23435270496778152, pvalue=6.502501590816588e-17)

상관관계 =0.23정도

pvalue = 통계적으로 유의함



---


둘다 차이는 있지만 비슷함, 비 모수적 검정 (순위변수로)

### **정준상관분석(Canonical Correlation)**

3. (수학에서) 표준[기준]이 되는

- 단일 변수간의 선형적 관계를 살펴봤는데 이제는
- 두 변수 군의 상관관계를 살펴본다.
- ABCDEF 6변수가 있으면 ABC 집단 1 DEF집단 2
- 두 집단을 어떻게 분석하는지 보자 .

In [14]:
df

           id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0      842302         M  ...                  0.11890          NaN
1      842517         M  ...                  0.08902          NaN
2    84300903         M  ...                  0.08758          NaN
3    84348301         M  ...                  0.17300          NaN
4    84358402         M  ...                  0.07678          NaN
..        ...       ...  ...                      ...          ...
564    926424         M  ...                  0.07115          NaN
565    926682         M  ...                  0.06637          NaN
566    926954         M  ...                  0.07820          NaN
567    927241         M  ...                  0.12400          NaN
568     92751         B  ...                  0.07039          NaN

[569 rows x 33 columns]

In [16]:
from sklearn.cross_decomposition import CCA
from scipy import stats

#집단 1과 집단 2를 형성합니다. <연속형 변수>
stats1 = df[['radius_mean', 'texture_mean', 'perimeter_mean']]
stats2 = df[['perimeter_se', 'area_se']]

#cca = Canonical Correlation analysis
cca = CCA(n_components =1).fit(stats1,stats2)

stats1_c, stats2_c = cca.transform(stats1,stats2)
stats1_cc = pd.DataFrame(stats1_c)[0]
stats2_cc = pd.DataFrame(stats2_c)[0]

cca2 = stats.pearsonr(stats1_cc,stats2_cc)
print(cca2)

(0.7570264136030855, 7.013249146645273e-107)

상관계수는 0.75정도 , 유의미할 확률 (유의확률) => 엄청나게 유의하다 

정준상관분석은 집단간의 상관관계를 확인할 수 있다. 




---

정준상관분석 **Canonical Correlation Analysis**

- 상관 계수가 두 변수의 관계를 다루었다면

- 정준상관분석은 독립 변수들과 한개 이상의 종속변수의 연관성을 다루는 분석

 => 상관분석과 회귀분석의 결합

- 독립변수들과 종속변수들의 상관계수가 최대가 되는 선형 결합을 유도하여 분석하는 방법

 

 

 

정준상관분석의 예시

- 독립 변수 : 신체조건에 대한 변수 -> x1 : 키, x2, : 앉은키, x3: 가슴 둘레

- 종속 변수 : 운동능력에 대한 변수 -> y1 : 50m 달리기, y2 : 공던지기 

 => 신체조건과 운동 능력 간의 연관성을 구해보자

- 방법 1. 각 독립변수와 종속변수의 상관계수 구하기 -> 종합적인 독립변수와 종속변수간 연관성을 구하기 힘듬

- 방법 2. 독립 변수의 선형 결합으로 변수 W 만들고 Y 변수의 선형결합으로 변수 V 만들어, 두 변수간 상관계수로 파악

 => 정준 상관 분석

 

 

정준상관분석 정리

- 독립 변수들과 종속 변수들간 상관관계를 분석

- 독립변수들의 선형 결합 변수 W = a1x1 + ... + bpxp

- 종속 변수들의 선형 결합 변수 V = b1y1 + ... + bqyq

- 정준상관분석 -> Corr(W, V)