<a href="https://colab.research.google.com/github/syh0397/Statistics_python/blob/main/9__ANCOVA_test(Analysis_of_Covariance).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic pip and import

In [ ]:
!pip install pingouin
!pip install --upgrade pingouin
!pip install scikit_posthocs

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd 
import numpy as np 

import os
import sys
import warnings
warnings.filterwarnings('ignore')

import sklearn 
import missingno as msno
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
plt.style.use('seaborn')
sns.set(font_scale=2.5)

import scipy 
from scipy import  stats
import statsmodels.api as sm
import pylab as py

import pingouin as pg
import scikit_posthocs

pd.options.display.float_format = '{:.3f}'.format

# 공분산분석

In [5]:
a = sns.load_dataset('tips')
a

     total_bill   tip     sex smoker   day    time  size
0        16.990 1.010  Female     No   Sun  Dinner     2
1        10.340 1.660    Male     No   Sun  Dinner     3
2        21.010 3.500    Male     No   Sun  Dinner     3
3        23.680 3.310    Male     No   Sun  Dinner     2
4        24.590 3.610  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239      29.030 5.920    Male     No   Sat  Dinner     3
240      27.180 2.000  Female    Yes   Sat  Dinner     2
241      22.670 2.000    Male    Yes   Sat  Dinner     2
242      17.820 1.750    Male     No   Sat  Dinner     2
243      18.780 3.000  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [6]:
host = a[['total_bill', 'size', 'tip']]
print(pg.ancova(dv = 'total_bill', between = 'size', covar = 'tip', data = host))

     Source       SS   DF      F  p-unc   np2
0      size 1923.126    5 10.672  0.000 0.184
1       tip 3568.939    1 99.026  0.000 0.295
2  Residual 8541.604  237    NaN    NaN   NaN

- size라는  집단에 따른 total_bill의 평균차이가 통계적으로 유의미하다(있다)
- tip 이라는 연속형 변수또한 통계적으로 유의미하다 (영향을 미친다.)